button {
	width:9.73%;
	height:100%;
	background-size: cover;
	color: white;
	background-color: black;
}

span {
    text-align: center;
    background: black;
    color: white;
    display:inline-block;
}

span:nth-child(2) {
  background: red;
}