button {
	width:10.73%;
	height:100%;
	background-size: cover;
	color: white;
	background-color: black;
  overflow: hidden;
}

.innerFirst {
  text-align: center;
  background: rgba(0,0,0,.4);
  color: white;
  white-space: nowrap;
  font-size: 1em;
}

.innerSecond {
  color: white;
  background: rgba(255,0,0,.6);
  font-size: 1em;
  display: unset;
}

#outer {
    display: flex;
}
